.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rootLayout header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rootLayout header .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 8px;
}

.rootLayout header .logo img {
  width: 32px;
  height: 32px;
}

.rootLayout main {
  flex: 1;
  overflow: hidden;
}
